$primary-color: #2f1415;
$secondary-color: #AC494D;
$tertiary-color: #ed6166;
$background-color: #F5F5F5;

$text-color: #000000;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;