@use '@/styles/variables' as *;

.container {
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1rem;
  background-color: $primary-color;
}

.adminLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    color: $background-color;
    text-decoration: none;
    padding: 0.5rem;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $background-color;
  background-color: $secondary-color;
  font-weight: bold;
  padding: 0.5rem;
  border: none;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}